.titulo-services {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.services {
  padding: 30px 0;
}

.services .container {
  max-width: 1200px;
  margin: 0 auto;
}

.services .row {
  display: flex;
}

.services .col-md-6 {
  width: 50%;
  padding: 10px;
}

.service-item {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.service-item h3,
.service-item h5 {
  margin-top: 0;
}

h5 {
  color: white;
}

p {
  color: white;
  font-size: 14px;
}

.service-item {
  h5 {
    font-size: 20px;
  }

  p {
    color: white;
    line-height: 1.8em;
  }
}

.service-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.service-image {
  flex: 0 0 50%;
  margin-right: 20px;
}

.service-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.service-details {
  flex: 1;
  h5 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}

.service-item p {
  margin-bottom: 0;
}

.arrow-list {
  color: white;
}

.arrow-list .MuiListItemIcon-root {
  color: white;
}
